.coin__container {
  display: flex;
  justify-content: center;
}

.coin__row {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  height: 80px;
  border-bottom: 1px solid #d7d7d7;
  width: 900px;
}

.coin__text {
  margin: 20px;
}

.sub-text {
  width: 75%;
  font-size: 14px;
}

.coin__info {
  display: flex;
  align-items: center;
  padding-right: 24px;
  min-width: 300px;
  img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  h1 {
    text-align: center;
    font-size: 16px;
    width: 150px;
  }
  .coin__symbol {
    text-transform: uppercase;
    background: gray;
    padding: 0.5em;
    border-radius: 10px;
  }
}

.coin__data {
  display: flex;
  text-align: center;
  justify-content: space-between;
  width: 100%;
  .coin__price {
    width: 110px;
  }

  .coin__volume {
    width: 200px;
  }

  .coin__marketcap {
    width: 240px;
  }

  .coin__percent {
    width: 80px;
  }
  .red {
    color: #f00606;
  }

  .green {
    color: #11d811;
  }
}

@media screen and (max-width: 800px) {
  .coin__row {
    height: 210px;
    width: 500px;
    flex-direction: column;
  }

  .coin__info {
    padding-right: 0;
    min-width: 0;
    padding-top: 1em;
    h1 {
      font-size: 20px;
    }
  }

  .coin__data {
    flex-direction: column;
    align-items: center;
    padding-top: 1em;
    .coin__price {
      font-size: 18px;
    }
  }

  .coin__data > .coin__price,
  .coin__volume,
  .coin__percent,
  .coin__marketCap {
    width: 100%;
    height: 30px;
  }
}
